
body {
	width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
    justify-content: center;
    align-items: center;
	background-color: #21a9c7;
}

h1 {
	border: solid white 2px;
	border-radius: 15px;
	font-family: Arial, sans-serif;
    text-align: center;
    font-size: 24px;
    color: #333;
}

form {
	font-family: Arial, sans-serif;
	width: 976px; /*1000-(2+2)-20*/ 
    margin-left: 2px; 
	margin-right: 2px; 
    padding: 20px; 
	border-radius: 10px;
	background-color: #f0f0f0;
}


label {
	font-family: Arial, sans-serif;
    display: block;/* Para no mover los labels*/
    margin-bottom: 8px;
    font-size: 14px
}

div {
	font-family: Arial, sans-serif;
	width: 976px;
	margin: 20px 2px;
	padding: 20px;
	border-radius: 10px;
	background-color: #f0f0f0;
	line-height: 1.6;
}


